/* Navbar animation */
/* === Appear Transition === */
.nav-appear {
  opacity: 0;
  transform: translateY(-30px);
}
.nav-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms, transform 300ms;
}
/* === Enter Transition === */
.nav-enter {
  opacity: 0;
  transform: translateY(-30px);
}
.nav-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms, transform 300ms;
}
.nav-enter-done {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms, transform 300ms;
}

/*  Modal */
.modal-appear {
  opacity: 0;
  transform: scale(0);
}

.modal-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.modal-appear-done {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

/* overlay */
@keyframes overlay-key {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 60%;
  }
}
.overlay {
  -moz-animation: overlay-key 0.5s;
  -webkit-animation: overlay-key 0.5s;
  animation: overlay-key 0.5s;
}

/* scroll downn animation */
.scroll-down {
  border: 2px solid #7c7c7c;
  border-radius: 1.5rem;
  bottom: 2rem;
  height: 40px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 23px;
}
.scroll-down::before {
  animation: scrollDownAnimation 2s infinite;
  background-color: #262626;
  border-radius: 100%;
  content: "";
  height: 8px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 10px;
  width: 5px;
  height: 5px;
}
@-moz-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 15px);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 15px);
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 15px);
  }
  100% {
    opacity: 0;
  }
}
@keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 15px);
  }
  100% {
    opacity: 0;
  }
}
/* arrow animation */
.arrow {
  text-align: center;
  margin: 5% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
