@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  overflow-x: auto;
}
@layer base {
  html {
    scrollbar-width: normal;
    scrollbar-color: #777 #555;
    font-size: 95%;
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar {
    width: 0.5vw;
    height: 10px;
  }
  html::-webkit-scrollbar-thumb {
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
  }
  html::-webkit-scrollbar-track {
    background-color: #ffff;
  }
  li {
    @apply px-2 text-base cursor-pointer rounded-md hover:bg-gray-200 transition-all duration-300;
  }

  /* li {
    @apply p-1  text-base rounded-md transition-all duration-300 text-gray-3  hover:text-indigo-700 cursor-pointer;
  }
  h1 {
    @apply font-bold text-[150px] tracking-tight leading-tight lg:text-[8rem] xmd:text-[6rem] md:text-[5rem] xsm:text-[3.7rem] xxsm:text-[3rem];
  }
  label {
    @apply flex flex-col w-[30rem] md:w-[25rem];
  }

  input {
    @apply bg-gray-0  h-10 p-2;
  }
  textarea {
    @apply bg-gray-0  h-28 p-2;
  } */
}
/* grid */
.grid-cols-2-hero {
  grid-template-columns: 1fr 30%;
}

/* scroll downn animation */
.scroll-down {
  border: 2px solid #7c7c7c;
  border-radius: 1.5rem;
  bottom: 2rem;
  height: 3rem;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 1.8rem;
}
.scroll-down::before {
  animation: scrollDownAnimation 2s infinite;
  background-color: #7c7c7c;
  border-radius: 30%;
  content: "";
  height: 8px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 10px;
  width: 5px;
}
@-moz-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
@keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
